.edit_post {
    text-align: center;
}

.edit_post h2 {
    margin: 30px 0 10px; 
}

.edit_post p {
    color: #aaa;
    margin-bottom: 20px;
}

.rowData {
    display: flex;
    justify-content: space-around;
  }

  .view_image {
    width: 30rem;
  }