.post_container {
  display: flex;
  margin: 10px auto;
  width: calc(62vw + 40vh);
  border-radius: 5px;
}

.post_container img {
  width: 50%;
}

.post_container h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: start;
}

.post_container p {
  text-align: start;
  font-size: 1.2rem;
  color: rgb(56, 56, 56);
  margin: 1rem auto;
}

.post_container p:last-child,
span {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(110, 110, 110);
}

.rowData {
  display: flex;
  text-align: start;
  justify-content: flex-start;
}

.rowData svg {
  font-size: 10px;
  margin: auto .2rem;
}
