.banner_container {
    display: flex;
    margin: auto 12rem auto 0;
  }

  @media screen and (max-width: 1050px) {
    .banner_container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
    }

    .banner_container img {
      margin: auto;
      width: 90%;
    }
  }