.navbar_top_area {
  background-color: #fff;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_container {
  display: flex;
  margin: auto;
}

.img_container {
  width: 300px;
  display: flex;
  margin: auto;
  overflow: hidden;
  object-fit: cover;
}

.img_container h3 {
  margin: auto;
}

.navbar_menu_main {
  background-color: black;
  width: 100vw;
  /* height: 35px; */
}

.navbar_menu_main a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links_list {
  margin: 0;
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: rgb(75, 75, 75);
  color: rgb(0, 0, 0);
}

.admin_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.admin_section p {
  color: #fff;
  font-size: 13px;
}

.admin_button {
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 109, 109);
  background-color: #000;
  border: none;
  margin: auto;
  justify-content: center;
}

.admin_button:hover {
  font-size: 15px;
  color: rgb(180, 0, 0);
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .navbar_top_area {
    height: 180px;
    flex-direction: column;
    justify-content: center;
  }

  .img_container {
    margin: 0;
  }

  .img_container h3 {
    font-size: 26px;
  }

  .links_list {
    font-size: 0.8rem;
  }

  .links_list li {
    margin-right: 0.5em;
  }

  .links_list li a {
    padding: 0.4em 0.6em;
  }

  .admin_section p {
    font-size: 0px;
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .navbar_top_area {
    position: relative;
    margin-bottom: 10px;
    height: 180px;
    flex-direction: column;
    justify-content: center;
  }
  .navbar_menu_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    width: 80vw;
    margin: auto;
  }

  .navbar_menu_main a {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .admin_section {
    font-size: 0;
  }

  .admin_section p {
    font-size: 0;
  }

  .admin_button {
    font-size: 0;
  }

  .links_list {
    display: flex;
    flex-direction: column;
    margin: 0;
    display: flex;
    list-style: none;
  }

  .links_list li {
    margin-right: 0;
  }

  .links_list li a {
    padding: 0.4em 0.4em;
  }
}
