.navbar_top_area {
  background-color: #fff;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_container {
  display: flex;
  margin: auto;
}

.img_container {
  width: 300px;
  display: flex;
  margin: auto;
}

.navbar_menu_row {
  background-color: black;
  width: 100vw;
  /* height: 35px; */
}

.navbar_menu_row a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links_list {
  margin: 0;
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: rgb(75, 75, 75);
  color: rgb(0, 0, 0);
}

.admin_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.admin_section p {
  color: #fff;
  font-size: 13px;
}

.admin_button {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 109, 109);
    background-color: #000;
    border: none;
    margin: 5px auto auto 1rem;
    justify-content: center;
}

.admin_button:hover {
    font-size: 15px;
    color: rgb(180, 0, 0);
    cursor: pointer;
}