.create_post {
  text-align: center;
}

.create_post h2 {
  margin: 30px 0 10px;
}

.create_post p {
  color: #aaa;
  margin-bottom: 20px;
}

.create_post img {
    width: 40%;
    margin: auto;
  }

.rowData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5rem;
}
